<?xml version='1.0' encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='WiX_Sample_InstallDir' Id='YOUR-GUID' UpgradeCode='YOUR-GUID' Language='1041' Codepage='932' Version='1.0.0' Manufacturer='work-note32'>

    <Package Id='*' Keywords='Installer'
      Description="WiX_Sample_InstallDir"
      Comments='This sample was created by Administrator of https://work-note32.com/' Manufacturer='work-note32'
      InstallerVersion='300' Languages='1041' Compressed='yes' SummaryCodepage='932' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes'/>
    <Property Id="INSTALLLEVEL" Value="1" />
    <Property Id="WIXUI_INSTALLDIR" Value="TOP_LEVEL_DIR" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
          <Directory Id='TOP_LEVEL_DIR' Name='work-note32'>

            <Component Id='WiX_Sample.exe' Guid='YOUR-GUID'>
              <File Id='WiX_Sample.exe' Name='WiX_Sample.exe' Source='Files\WiX_Sample.exe'/>
            </Component>

            <Component Id='WiX_Sample.exe.config' Guid='YOUR-GUID'>
              <File Id='WiX_Sample.exe.config' Name='WiX_Sample.exe.config' Source='Files\WiX_Sample.exe.config'/>
            </Component>

          </Directory>
      </Directory>
    </Directory>

    <Feature Id='MainProgram' Title='Program' Description='The main executable.' Display='expand' Level='1'>
      <ComponentRef Id='WiX_Sample.exe' />
      <ComponentRef Id='WiX_Sample.exe.config' />
    </Feature>

    <UIRef Id="WixUI_ErrorProgressText" />
    <UIRef Id="WixUI_InstallDir" />
  </Product>
</Wix>
